{
  "dev": {
    "STRAVA_CLIENT_ID": "your-dev-strava-client-id",
    "STRAVA_CLIENT_SECRET": "your-dev-strava-client-secret",
    "STRAVA_VERIFY_TOKEN": "your-dev-webhook-verify-token",
    "JWT_SECRET": "your-dev-jwt-secret-at-least-32-chars-long",
    "LOG_LEVEL": "debug",
    "AWS_REGION": "us-east-2"
  },
  "prod": {
    "STRAVA_CLIENT_ID": "your-prod-strava-client-id",
    "STRAVA_CLIENT_SECRET": "your-prod-strava-client-secret",
    "STRAVA_VERIFY_TOKEN": "your-prod-webhook-verify-token",
    "JWT_SECRET": "your-prod-jwt-secret-at-least-32-chars-long",
    "LOG_LEVEL": "info",
    "AWS_REGION": "us-east-2"
  }
}
